{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Create User</h3>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="username"
      class="form-control"
      id="username"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Real Name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password Confirmation</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
